<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/95f6070e-c8a6-44c3-9a77-e1dbb63b94a3/resourcegroups/sisloja-hml/providers/Microsoft.Web/sites/SisLojaEstacionamentoApi</ResourceId>
    <ResourceGroup>sisloja-hml</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sislojaestacionamentoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>583a9918-7e3b-4340-bada-5c2f04a756d3</ProjectGuid>
    <PublishUrl>https://sislojaestacionamentoapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SisLojaEstacionamentoApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>